.calculator{
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(6,80px);
    gap: 15px;
    background-color: #ecf0f3;
    border: none;
    box-shadow:-5px -5px 12px #ffffff,
                5px 5px 12px rgba(0, 0, 0, 0.16);
    padding: 20px;
    border-radius: 30px;
    justify-content: center;
}

.calculator input{
    grid-column: span 4;
    border-radius: 30px;
    border: none;
    background-color: #ecf0f3;
    box-shadow:inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0, 0, 0, 0.16);
    font-size: xx-large;
    padding: 20px;
    text-align: end;
}



#equal{
    grid-column: span 2;
    border-radius: 30px;
}

.calculator button{
    border-radius: 50%;
    background-color: #ecf0f3;
    box-shadow:-5px -5px 12px #ffffff,
                5px 5px 12px rgba(0, 0, 0, 0.16);
    border-radius: 30px; 
    border: none;
    font-size: large;
    transition: box-shadow 0.3s ease;
}